.elementor-1578 .elementor-element.elementor-element-9779fb7 > .elementor-container {
  max-width: 1290px;
}

.elementor-1578 .elementor-element.elementor-element-9779fb7 {
}

.elementor-1578 .elementor-element.elementor-element-46e17e6 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}

.elementor-1578 .elementor-element.elementor-element-c265dd4 > .elementor-element-populated {
  margin: 0% 16% 0% 0%;
  --e-column-margin-right: 16%;
  --e-column-margin-left: 0%;
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px/2);
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px/2);
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(8px/2);
  margin-left: calc(8px/2);
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px/2);
  margin-left: calc(-8px/2);
}

body.rtl .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-8px/2);
}

body:not(.rtl) .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-8px/2);
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-icon i {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-icon svg {
  fill: var( --e-global-color-secondary );
  transition: fill 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-d8192bf {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item > a {
  /* font-family: var( --e-global-typography-9ce0a25-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-9ce0a25-font-size );
  font-weight: var( --e-global-typography-9ce0a25-font-weight );
  line-height: var( --e-global-typography-9ce0a25-line-height );
  letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
  word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-text {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-3dc32c3 .elementor-heading-title {
  /* font-family: var( --e-global-typography-bcf45ea-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-bcf45ea-font-size );
  font-weight: var( --e-global-typography-bcf45ea-font-weight );
  line-height: var( --e-global-typography-bcf45ea-line-height );
  letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
  word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-3dc32c3 > .elementor-widget-container {
  margin: 1em 0em 0em 0em;
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(6px/2);
  margin-left: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-6px/2);
  margin-left: calc(-6px/2);
}

body.rtl .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-6px/2);
}

body:not(.rtl) .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-6px/2);
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-icon i {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-icon svg {
  fill: var( --e-global-color-secondary );
  transition: fill 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-15e7729 {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item > a {
  /* font-family: var( --e-global-typography-9ce0a25-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-9ce0a25-font-size );
  font-weight: var( --e-global-typography-9ce0a25-font-weight );
  line-height: var( --e-global-typography-9ce0a25-line-height );
  letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
  word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-text {
  color: var( --e-global-color-text );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-8afab7a .elementor-heading-title {
  /* font-family: var( --e-global-typography-bcf45ea-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-bcf45ea-font-size );
  font-weight: var( --e-global-typography-bcf45ea-font-weight );
  line-height: var( --e-global-typography-bcf45ea-line-height );
  letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
  word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-8afab7a > .elementor-widget-container {
  margin: 1em 0em 0em 0em;
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(6px/2);
  margin-left: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-6px/2);
  margin-left: calc(-6px/2);
}

body.rtl .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-6px/2);
}

body:not(.rtl) .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-6px/2);
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-icon i {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-icon svg {
  fill: var( --e-global-color-secondary );
  transition: fill 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item > a {
  /* font-family: var( --e-global-typography-9ce0a25-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-9ce0a25-font-size );
  font-weight: var( --e-global-typography-9ce0a25-font-weight );
  line-height: var( --e-global-typography-9ce0a25-line-height );
  letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
  word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-text {
  color: var( --e-global-color-text );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-26a51c1 .elementor-heading-title {
  /* font-family: var( --e-global-typography-bcf45ea-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-bcf45ea-font-size );
  font-weight: var( --e-global-typography-bcf45ea-font-weight );
  line-height: var( --e-global-typography-bcf45ea-line-height );
  letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
  word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-26a51c1 > .elementor-widget-container {
  margin: 1em 0em 0em 0em;
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(6px/2);
  margin-left: calc(6px/2);
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-6px/2);
  margin-left: calc(-6px/2);
}

body.rtl .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-6px/2);
}

body:not(.rtl) .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-6px/2);
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-icon i {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-icon svg {
  fill: var( --e-global-color-secondary );
  transition: fill 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
  fill: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-62be157 {
  --e-icon-list-icon-size: 16px;
  --icon-vertical-offset: 0px;
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item > a {
  /* font-family: var( --e-global-typography-9ce0a25-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-9ce0a25-font-size );
  font-weight: var( --e-global-typography-9ce0a25-font-weight );
  line-height: var( --e-global-typography-9ce0a25-line-height );
  letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
  word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-text {
  color: var( --e-global-color-text );
  transition: color 0.3s;
}

.elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var( --e-global-color-accent );
}

.elementor-1578 .elementor-element.elementor-element-a9545cf .elementor-heading-title {
  /* font-family: var( --e-global-typography-bcf45ea-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-bcf45ea-font-size );
  font-weight: var( --e-global-typography-bcf45ea-font-weight );
  line-height: var( --e-global-typography-bcf45ea-line-height );
  letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
  word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
}

.elementor-1578 .elementor-element.elementor-element-a9545cf > .elementor-widget-container {
  margin: 1em 0em 0em 0em;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-field-group {
  padding-right: calc( 10px/2 );
  padding-left: calc( 10px/2 );
  margin-bottom: 10px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-form-fields-wrapper {
  margin-left: calc( -10px/2 );
  margin-right: calc( -10px/2 );
  margin-bottom: -10px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}

body.rtl .elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-labels-inline .elementor-field-group > label {
  padding-left: 0px;
}

body:not(.rtl) .elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-labels-inline .elementor-field-group > label {
  padding-right: 0px;
}

body .elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-labels-above .elementor-field-group > label {
  padding-bottom: 0px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-field-type-html {
  padding-bottom: 0px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
  border-width: 0px 0px 0px 0px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-field-group .elementor-select-wrapper select {
  border-width: 0px 0px 0px 0px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 .elementor-button {
  border-radius: 0px 12px 12px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}

.elementor-1578 .elementor-element.elementor-element-470dc33 > .elementor-widget-container {
  background-color: var( --e-global-color-91ce7d4 );
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var( --e-global-color-23add43 );
  border-radius: 12px 12px 12px 12px;
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 8px;
  --grid-row-gap: 0px;
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-widget-container {
  text-align: left;
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-social-icon {
  background-color: var( --e-global-color-secondary );
  --icon-padding: 0.7em;
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-social-icon i {
  color: var( --e-global-color-91ce7d4 );
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-social-icon svg {
  fill: var( --e-global-color-91ce7d4 );
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-social-icon:hover {
  background-color: var( --e-global-color-23add43 );
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-social-icon:hover i {
  color: var( --e-global-color-secondary );
}

.elementor-1578 .elementor-element.elementor-element-4a27bc3 .elementor-social-icon:hover svg {
  fill: var( --e-global-color-secondary );
}

.elementor-1578 .elementor-element.elementor-element-d102166 {
  --spacer-size: 20px;
}

.elementor-1578 .elementor-element.elementor-element-9195eca {
  --divider-border-style: solid;
  --divider-color: var( --e-global-color-23add43 );
  --divider-border-width: 1px;
}

.elementor-1578 .elementor-element.elementor-element-9195eca .elementor-divider-separator {
  width: 100%;
}

.elementor-1578 .elementor-element.elementor-element-9195eca .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}

.elementor-1578 .elementor-element.elementor-element-388e005 {
  text-align: center;
}

.elementor-1578 .elementor-element.elementor-element-388e005 .elementor-heading-title {
  color: var( --e-global-color-text );
  /* font-family: var( --e-global-typography-9ce0a25-font-family ), Sans-serif; */
  font-size: var( --e-global-typography-9ce0a25-font-size );
  font-weight: var( --e-global-typography-9ce0a25-font-weight );
  line-height: var( --e-global-typography-9ce0a25-line-height );
  letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
  word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
}

@media(max-width: 1024px) {
  .elementor-1578 .elementor-element.elementor-element-9779fb7 {
      padding:4em 1em 1em 1em;
  }

  .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-3dc32c3 .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-8afab7a .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-26a51c1 .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-a9545cf .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-388e005 .elementor-heading-title {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }
}

@media(max-width: 767px) {
  .elementor-1578 .elementor-element.elementor-element-9779fb7 {
      padding:4em 1em 1em 1em;
  }

  .elementor-1578 .elementor-element.elementor-element-c265dd4 > .elementor-element-populated {
      margin: 0% 0% 0% 0%;
      --e-column-margin-right: 0%;
      --e-column-margin-left: 0%;
  }

  .elementor-1578 .elementor-element.elementor-element-14296d8 {
      text-align: left;
      width: var( --container-widget-width, 75% );
      max-width: 75%;
      --container-widget-width: 75%;
      --container-widget-flex-grow: 0;
  }

  .elementor-1578 .elementor-element.elementor-element-14296d8 img {
      width: 100%;
  }

  .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-d8192bf .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-3dc32c3 .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-3dc32c3 > .elementor-widget-container {
      margin: 0em 0em 0em 0em;
  }

  .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-15e7729 .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-8afab7a .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-8afab7a > .elementor-widget-container {
      margin: 0em 0em 0em 0em;
  }

  .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-663a6e5 .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-26a51c1 .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-26a51c1 > .elementor-widget-container {
      margin: 0em 0em 0em 0em;
  }

  .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1578 .elementor-element.elementor-element-62be157 .elementor-icon-list-item > a {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-a9545cf .elementor-heading-title {
      font-size: var( --e-global-typography-bcf45ea-font-size );
      line-height: var( --e-global-typography-bcf45ea-line-height );
      letter-spacing: var( --e-global-typography-bcf45ea-letter-spacing );
      word-spacing: var( --e-global-typography-bcf45ea-word-spacing );
  }

  .elementor-1578 .elementor-element.elementor-element-a9545cf > .elementor-widget-container {
      margin: 0em 0em 0em 0em;
  }

  .elementor-1578 .elementor-element.elementor-element-388e005 .elementor-heading-title {
      font-size: var( --e-global-typography-9ce0a25-font-size );
      line-height: var( --e-global-typography-9ce0a25-line-height );
      letter-spacing: var( --e-global-typography-9ce0a25-letter-spacing );
      word-spacing: var( --e-global-typography-9ce0a25-word-spacing );
  }
}

@media(min-width: 768px) {
  .elementor-1578 .elementor-element.elementor-element-c265dd4 {
      width:24%;
  }

  .elementor-1578 .elementor-element.elementor-element-6648925 {
      width: 15%;
  }

  .elementor-1578 .elementor-element.elementor-element-c5eb609 {
      width: 18%;
  }

  .elementor-1578 .elementor-element.elementor-element-ff175d0 {
      width: 17.959%;
  }

  .elementor-1578 .elementor-element.elementor-element-b585555 {
      width: 25%;
  }
}

@media(max-width: 1024px) and (min-width:768px) {
  .elementor-1578 .elementor-element.elementor-element-c265dd4 {
      width:42%;
  }

  .elementor-1578 .elementor-element.elementor-element-6648925 {
      width: 26%;
  }

  .elementor-1578 .elementor-element.elementor-element-c5eb609 {
      width: 30%;
  }

  .elementor-1578 .elementor-element.elementor-element-ff175d0 {
      width: 30%;
  }

  .elementor-1578 .elementor-element.elementor-element-b585555 {
      width: 42%;
  }
}
