<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/layout/layoutV1 :: setContent(~{this :: title}, ~{this :: uniqhead}, ~{this :: content})}">

	<!--/* 타이틀 동적변경 */-->
	<title th:fragment="title">기업소개</title>

	<!--/* 페이지별 특정 head내용 동적변경*/-->
	<th:block th:fragment="uniqhead">
		<!-- =============================================================== 개별css ========================================================================== -->
		<link rel="stylesheet" href="/assets/css/team/team.css">
		<link rel="stylesheet" href="/assets/css/howitwork/title.css">
		<link rel="stylesheet" href="/assets/css/footer/footer_common.css">
	</th:block>

	<!--/* 페이지별 콘텐츠 동적변경 */-->
	<th:block th:fragment="content">
		<div data-elementor-type="wp-page" data-elementor-id="1711"
			class="elementor elementor-1711" data-elementor-post-type="page">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-179d7879 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="179d7879" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-no">
					<div
						class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11817486"
						data-id="11817486" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-5bad4e54 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
								data-id="5bad4e54" data-element_type="section"
								data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
								<div class="elementor-container elementor-column-gap-no">
									<div
										class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-475a3893"
										data-id="475a3893" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-38076426 elementor-widget elementor-widget-heading"
												data-id="38076426" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h1 class="elementor-heading-title elementor-size-default">
														GOD <i aria-hidden="true" class="fas fa-paw"></i> DOG
													</h1>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-261a1af9 elementor-widget elementor-widget-text-editor"
												data-id="261a1af9" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>잊혀져가는 유기동물들을 세상에 알리고 소중한 가족을 찾아주는 플랫폼입니다.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-18c06d45 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="18c06d45" data-element_type="section">
				<div class="elementor-container elementor-column-gap-no">
					<div
						class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6537705a"
						data-id="6537705a" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div
								class="elementor-element elementor-element-6093d903 elementor-invisible elementor-widget elementor-widget-image"
								data-id="6093d903" data-element_type="widget"
								data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img decoding="async" fetchpriority="high" width="300"
										height="300"
										src="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/team-1.jpg"
										class="attachment-full size-full wp-image-679" alt=""
										srcset="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/team-1.jpg 300w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/team-1-150x150.jpg 150w"
										sizes="(max-width: 300px) 100vw, 300px" />
								</div>
							</div>
							<div
								class="elementor-element elementor-element-70802e74 elementor-invisible elementor-widget elementor-widget-image"
								data-id="70802e74" data-element_type="widget"
								data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}"
								data-widget_type="image.default">
								<div class="elementor-widget-container">
									<img decoding="async" width="1440" height="800"
										src="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/gallery-donation-1.jpg"
										class="attachment-full size-full wp-image-1253" alt=""
										srcset="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/gallery-donation-1.jpg 1440w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/gallery-donation-1-300x167.jpg 300w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/gallery-donation-1-1024x569.jpg 1024w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/gallery-donation-1-768x427.jpg 768w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/gallery-donation-1-800x444.jpg 800w"
										sizes="(max-width: 1440px) 100vw, 1440px" />
								</div>
							</div>
						</div>
					</div>
					<div
						class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-67c2db73"
						data-id="67c2db73" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-401d5c03 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="401d5c03" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1600c8ea"
										data-id="1600c8ea" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-5c1126f3 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="5c1126f3" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">01.</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-511349a"
										data-id="511349a" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-3649f6aa elementor-widget elementor-widget-heading"
												data-id="3649f6aa" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h4 class="elementor-heading-title elementor-size-default">유기견
														보호소의 정보</h4>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-4f94afa elementor-widget elementor-widget-text-editor"
												data-id="4f94afa" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>전국에 있는 유기견 보호소의 정보를 얻을 수 있어요.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<div
								class="elementor-element elementor-element-17d98f03 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="17d98f03" data-element_type="widget"
								data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator"> </span>
									</div>
								</div>
							</div>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-39487435 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="39487435" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">02.</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-219f8e46 elementor-widget elementor-widget-heading"
												data-id="219f8e46" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h4 class="elementor-heading-title elementor-size-default">봉사
														예약 서비스</h4>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>수월하게 원하는 보호소에 봉사하러 갈 수 있어요.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<div
								class="elementor-element elementor-element-48adf803 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="48adf803" data-element_type="widget"
								data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator"> </span>
									</div>
								</div>
							</div>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-7ae9605a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="7ae9605a" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3fa26459"
										data-id="3fa26459" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1defb76d elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="1defb76d" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">03.</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-3e50f0d3"
										data-id="3e50f0d3" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-4a3b6c2 elementor-widget elementor-widget-heading"
												data-id="4a3b6c2" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h4 class="elementor-heading-title elementor-size-default">유기견을
														위한 후원 시스템</h4>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-56b76daf elementor-widget elementor-widget-text-editor"
												data-id="56b76daf" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>유기견들의 안정적인 환경을 위해 따뜻한 마음을 표현할 수 있는 기회를 마련했어요.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<div
								class="elementor-element elementor-element-16d34af7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
								data-id="16d34af7" data-element_type="widget"
								data-widget_type="divider.default">
								<div class="elementor-widget-container">
									<div class="elementor-divider">
										<span class="elementor-divider-separator"> </span>
									</div>
								</div>
							</div>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-6e2abbe9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="6e2abbe9" data-element_type="section">
								<div class="elementor-container elementor-column-gap-default">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-75c08f40"
										data-id="75c08f40" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-7f701e3b elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="7f701e3b" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">04.</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-56d9ada6"
										data-id="56d9ada6" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-57fbeed9 elementor-widget elementor-widget-heading"
												data-id="57fbeed9" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h4 class="elementor-heading-title elementor-size-default">보호소와의
														매칭 서비스</h4>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-90f1aee elementor-widget elementor-widget-text-editor"
												data-id="90f1aee" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>유기견을 입양하기 위해 보호소를 방문할 약속을 보다 쉽게 정할 수 있도록 보호소와의 직접적인
														연결을 위한 서비스를 제공해요.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-74a23217 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="74a23217" data-element_type="section"
				data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;gradient&quot;}">
				<div class="elementor-container elementor-column-gap-no">
					<div
						class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-51863b35"
						data-id="51863b35" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-4f5eae74 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
								data-id="4f5eae74" data-element_type="section">
								<div class="elementor-container elementor-column-gap-no">
									<div
										class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-61c99479"
										data-id="61c99479" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-16e41c3a elementor-widget elementor-widget-heading"
												data-id="16e41c3a" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h2 class="elementor-heading-title elementor-size-default">
														소중한 가족을 <br>만날 수 있는 기회
													</h2>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-9cdc4e5 elementor-widget elementor-widget-text-editor"
												data-id="9cdc4e5" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>
														매년 전국적으로 10만 마리 이상의 유기동물들이 보호소로 구조되고 있습니다. <br> 우리는
														이들에게 가족을 찾아주고 보호소에 있는 동안 보다 안정적인 환경에서 살 수 있도록<br>지원하고
														있습니다.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b500a5e"
										data-id="2b500a5e" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-5aa7a453 elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-hidden-mobile elementor-widget elementor-widget-spacer"
												data-id="5aa7a453" data-element_type="widget"
												data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
												data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-17754fd8 elementor-widget elementor-widget-image"
												data-id="17754fd8" data-element_type="widget"
												data-widget_type="image.default">
												<div class="elementor-widget-container">
													<img decoding="async" width="800" height="600"
														src="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/testimonial-feature.jpg"
														class="attachment-large size-large wp-image-395" alt=""
														srcset="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/testimonial-feature.jpg 800w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/testimonial-feature-300x225.jpg 300w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/testimonial-feature-768x576.jpg 768w"
														sizes="(max-width: 800px) 100vw, 800px" />
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-54f4260d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
								data-id="54f4260d" data-element_type="section"
								data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}"
								style="margin-bottom: 10%;">
								<div class="elementor-container elementor-column-gap-no">
									<div
										class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4e071697"
										data-id="4e071697" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-3c17f7de elementor-widget__width-initial elementor-absolute elementor-widget-tablet__width-initial elementor-hidden-mobile elementor-widget elementor-widget-spacer"
												data-id="3c17f7de" data-element_type="widget"
												data-settings="{&quot;_position&quot;:&quot;absolute&quot;}"
												data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-518c976b elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon"
												data-id="518c976b" data-element_type="widget"
												data-widget_type="icon.default">
												<div class="elementor-widget-container">
													<div class="elementor-icon-wrapper">
														<div class="elementor-icon">
															<i aria-hidden="true" class="fas fa-comments"></i>
														</div>
													</div>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-7852bfae elementor-widget__width-initial elementor-widget-mobile__width-inherit elementor-widget elementor-widget-testimonial"
												data-id="7852bfae" data-element_type="widget"
												data-widget_type="testimonial.default">
												<div class="elementor-widget-container">
													<div class="elementor-testimonial-wrapper">
														<div class="elementor-testimonial-content">“잊혀져가는
															유기동물들을 세상에 알리고 소중한 가족을 찾아주는 플랫폼입니다.”</div>

														<div class="elementor-testimonial-meta">
															<div class="elementor-testimonial-meta-inner">

																<div class="elementor-testimonial-details">
																	<div class="elementor-testimonial-name">우리가 만드는
																		입양 문화</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<div
								class="elementor-element elementor-element-4182c190 elementor-widget elementor-widget-spacer"
								data-id="4182c190" data-element_type="widget"
								data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-31c2d586 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="31c2d586" data-element_type="section">
				<div class="elementor-container elementor-column-gap-no">
					<div
						class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7cf5c9a1"
						data-id="7cf5c9a1" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-3345cb84 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-invisible"
								data-id="3345cb84" data-element_type="section"
								data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;animation&quot;:&quot;fadeInUp&quot;}">
								<div class="elementor-background-overlay"></div>
								<div class="elementor-container elementor-column-gap-no">
									<div
										class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6ece925b"
										data-id="6ece925b" data-element_type="column"
										data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-background-overlay"></div>
											<section
												class="elementor-section elementor-inner-section elementor-element elementor-element-3c887e41 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
												data-id="3c887e41" data-element_type="section">
												<div class="elementor-container elementor-column-gap-no">
													<div
														class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7f5f58fc"
														data-id="7f5f58fc" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div
																class="elementor-element elementor-element-1ddbb4a1 elementor-widget elementor-widget-image"
																data-id="1ddbb4a1" data-element_type="widget"
																data-widget_type="image.default">
																<div class="elementor-widget-container">
																	<img decoding="async" loading="lazy" width="328"
																		height="327"
																		src="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/adoption-white.png"
																		class="attachment-large size-large wp-image-455"
																		alt=""
																		srcset="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/adoption-white.png 328w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/adoption-white-300x300.png 300w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/adoption-white-150x150.png 150w"
																		sizes="(max-width: 328px) 100vw, 328px" />
																</div>
															</div>
														</div>
													</div>
													<div
														class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-7fe1a543"
														data-id="7fe1a543" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div
																class="elementor-element elementor-element-5deb3b23 elementor-widget elementor-widget-heading"
																data-id="5deb3b23" data-element_type="widget"
																data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h5
																		class="elementor-heading-title elementor-size-default">봉사신청
																		하기</h5>
																</div>
															</div>
															<div
																class="elementor-element elementor-element-819b95 elementor-widget elementor-widget-text-editor"
																data-id="819b95" data-element_type="widget"
																data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<p>봉사활동을 통해 강아지들에게 사랑과 관심을 전해주세요.</p>
																</div>
															</div>
															
															<!-- 로그인멤버가 없거나 일반회원인경우만 신청버튼 출력 -->
															<th:block th:if="${session.loginMember == null || session.loginMember.lev == 1}">
															<div
																class="elementor-element elementor-element-5bb37de0 elementor-mobile-align-center elementor-widget elementor-widget-button"
																data-id="5bb37de0" data-element_type="widget"
																data-widget_type="button.default">
																<div class="elementor-widget-container">
																	<div class="elementor-button-wrapper">
																		<a
																			class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
																			href="/volunteer/agreement.html"
																			th:href="@{'/'+volunteer+'/'+agreement}"> <span
																			class="elementor-button-content-wrapper"> <span
																				class="elementor-button-icon elementor-align-icon-right">
																					<i aria-hidden="true" class="fas fa-arrow-right"></i>
																			</span> <span class="elementor-button-text">신청하기</span>
																		</span>
																		</a>
																	</div>
																</div>
															</div>
															</th:block>
															
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-77f9eeab"
										data-id="77f9eeab" data-element_type="column"
										data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div class="elementor-background-overlay"></div>
											<section
												class="elementor-section elementor-inner-section elementor-element elementor-element-60825b48 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
												data-id="60825b48" data-element_type="section">
												<div class="elementor-container elementor-column-gap-no">
													<div
														class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-28f81432"
														data-id="28f81432" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div
																class="elementor-element elementor-element-b15c050 elementor-widget elementor-widget-image"
																data-id="b15c050" data-element_type="widget"
																data-widget_type="image.default">
																<div class="elementor-widget-container">
																	<img decoding="async" loading="lazy" width="328"
																		height="327"
																		src="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/rehome-v2.png"
																		class="attachment-large size-large wp-image-456"
																		alt=""
																		srcset="https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/rehome-v2.png 328w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/rehome-v2-300x300.png 300w, https://templatekit.tokomoo.com/adopkit/wp-content/uploads/sites/119/2023/02/rehome-v2-150x150.png 150w"
																		sizes="(max-width: 328px) 100vw, 328px" />
																</div>
															</div>
														</div>
													</div>
													<div
														class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-69144666"
														data-id="69144666" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div
																class="elementor-element elementor-element-38458d6c elementor-widget elementor-widget-heading"
																data-id="38458d6c" data-element_type="widget"
																data-widget_type="heading.default">
																<div class="elementor-widget-container">
																	<h5
																		class="elementor-heading-title elementor-size-default">강아지들
																		보러가기</h5>
																</div>
															</div>
															<div
																class="elementor-element elementor-element-3f8a4326 elementor-widget elementor-widget-text-editor"
																data-id="3f8a4326" data-element_type="widget"
																data-widget_type="text-editor.default">
																<div class="elementor-widget-container">
																	<p>함께 살아갈 강아지나 도움이 필요한 강아지들을 보러가세요.</p>
																</div>
															</div>
															<div
																class="elementor-element elementor-element-748c947f elementor-mobile-align-center elementor-widget elementor-widget-button"
																data-id="748c947f" data-element_type="widget"
																data-widget_type="button.default">
																<div class="elementor-widget-container">
																	<div class="elementor-button-wrapper">
																		<a
																			class="elementor-button elementor-button-link elementor-size-sm elementor-animation-float"
																			href="/dog/dog-list.html"
																			th:href="@{'/'+dog}"> <span
																			class="elementor-button-content-wrapper"> <span
																				class="elementor-button-icon elementor-align-icon-right">
																					<i aria-hidden="true" class="fas fa-arrow-right"></i>
																			</span> <span class="elementor-button-text">보러가기</span>
																		</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</th:block>

</th:block>