<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/layout/layoutV1 :: setContent(~{this :: title}, ~{this :: uniqhead}, ~{this :: content})}">

	<!--/* 타이틀 동적변경 */-->
	<title th:fragment="title">멍멍이리스트</title>

	<!--/* 페이지별 특정 head내용 동적변경*/-->
	<th:block th:fragment="uniqhead">
		<!-- =============================================================== 개별css ========================================================================== -->
		<link rel="stylesheet" href="/assets/css/doglist/title.css">
		<link rel="stylesheet" href="/assets/css/doglist/doglist.css">
		<link rel="stylesheet" href="/assets/css/faq/faq.css">
		<link rel="stylesheet" href="/assets/css/pagenation.css">
		<link rel="stylesheet" href="/assets/css/footer/footer_common.css">
		<!-- =============================================================== 개별js ========================================================================== -->
		<script defer src="/assets/js/dog/dog_list.js"></script>
	</th:block>

	<!--/* 페이지별 콘텐츠 동적변경 */-->
	<th:block th:fragment="content">
		<main id="centerdetail" style="background-color: #FFFCF7;">
			<div data-elementor-type="wp-page" data-elementor-id="1686"
				class="elementor elementor-1686" data-elementor-post-type="page">
				<section
					class="elementor-section elementor-top-section elementor-element elementor-element-69bd6b53 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="69bd6b53" data-element_type="section"
					data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
					<div class="elementor-background-overlay"></div>
					<div class="elementor-container elementor-column-gap-no">
						<div
							class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-63099e24"
							data-id="63099e24" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<section
									class="elementor-section elementor-inner-section elementor-element elementor-element-61adb26d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
									data-id="61adb26d" data-element_type="section"
									data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
									<div class="elementor-container elementor-column-gap-no">
										<div
											class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-640bdb8f"
											data-id="640bdb8f" data-element_type="column">
											<div
												class="elementor-widget-wrap elementor-element-populated">
												<div
													class="elementor-element elementor-element-3fdf0404 elementor-widget elementor-widget-heading"
													data-id="3fdf0404" data-element_type="widget"
													data-widget_type="heading.default">
													<div class="elementor-widget-container">
														<h1 class="elementor-heading-title elementor-size-default">보호 중 아이들</h1>
													</div>
												</div>
												<div class="elementor-element elementor-element-1d5bbe7b elementor-widget elementor-widget-text-editor"
													data-id="1d5bbe7b" data-element_type="widget"
													data-widget_type="text-editor.default">
													<div class="elementor-widget-container">
														<p>
															아이들에게 따뜻한 손길을 내어주세요. 그리고 행복을 선물 받으세요.<br> 입양문의는 사이트
															내 카톡 또는 각 보호소별 전화로 문의주세요.
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</section>
				
				<!-- filter부분 -->
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-61adb26d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
					data-id="61adb26d" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
					<div class="elementor-container elementor-column-gap-no" style="max-width: 1140px;">
						<button onclick="clickFilterDisplay();"><i class="fa-solid fa-filter">  필터</i></button>
					</div>
					<div class="filter" style="display: none;">
						<div class="elementor-container elementor-column-gap-no" style="max-width: 1140px; padding: 1.5em 0em 0em 0em">
							<h4 class="elementor-image-box-title">지역</h4>
						</div>
						<div class="elementor-container elementor-column-gap-no" style="max-width: 1140px; display: flex; flex: auto; flex-wrap: wrap">
							<a href="/dog/dog-profile.html" class="filter area" th:each="area : ${areaList}" th:text="${area.orgdownNm}"
							th:href="@{'/'+dog + '?' + requestPage +'=1&sido=' + ${area.orgCd}}">>경기도</a>
							<!-- <button class="filter area" th:each="area : ${areaList}" th:text="${area.orgdownNm}">경기도</button> -->
						</div>
						
						<!-- 품종은 제거 나중에 필요하면 추가
						<div class="elementor-container elementor-column-gap-no" style="max-width: 1140px; padding: 1.5em 0em 0em 0em">
							<h4 class="elementor-image-box-title">품종</h4>
						</div>
						<div class="elementor-container elementor-column-gap-no" style="overflow:auto; width:1140px; height:160px; max-width: 1140px; display: flex; flex: auto; flex-wrap: wrap">
							<a href="/dog/dog-profile.html" class="filter area" th:each="dogKind : ${dogKindList}" th:text="${dogKind.knm}">골든 리트리버</a>
						</div>
						 -->
					</div>
				</section>
							
				<!-- 강아지 리스트 -->
				<section class="elementor-section elementor-top-section elementor-element elementor-element-5221af9d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="5221af9d" data-element_type="section" style="padding: 2em 0em;">
					<div class="elementor-container elementor-column-gap-no">
						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-77d0f221"
							data-id="77d0f221" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<th:block th:each="dogList : ${list}">
									<section class="elementor-section elementor-inner-section elementor-element elementor-element-22ae2982 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-invisible"
									data-id="22ae2982" data-element_type="section"
									data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
									<div class="elementor-container elementor-column-gap-no">
									<th:block th:each="dog : ${dogList}">
										<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5d2e53be"
											data-id="5d2e53be" data-element_type="column">
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-51b15f7e elementor-position-top elementor-widget elementor-widget-image-box"
													data-id="51b15f7e" data-element_type="widget"
													data-widget_type="image-box.default">
													<div class="elementor-widget-container">
														<div class="elementor-image-box-wrapper">
															<figure class="elementor-image-box-img" style="text-align: center;">
																<a href="/dog/dog-profile.html" 
																th:href="@{'/'+dog+'/'+ profile + '?' + requestPage +'=' + ${requestPage} + '&' + desertionNo + '=' + ${dog != null ? dog.desertionNo : ''}}">
																	<img class="elementor-animation-float attachment-full" style="height: 300px; width: 400px;"
																		alt="강아지 정보가 없습니다."
																		th:src="${dog != null ? dog.popfile : ''}" />
																</a>
															</figure>
															<div class="elementor-image-box-content">
																<h4 class="elementor-image-box-title">
																	<a href="/dog/dog-profile.html" th:href="@{'/'+dog+'/'+profile}" th:text="${dog != null ? dog.kindCd : ''}">Velfire</a>
																</h4>
																<p class="elementor-image-box-description" th:text="${dog != null ? dog.noticeNo : ''}">German Sheperd Dog</p>
															</div>
														</div>
													</div>
												</div>
												<div class="elementor-element elementor-element-5dbba24c elementor-widget elementor-widget-spacer"
													data-id="5dbba24c" data-element_type="widget"
													data-widget_type="spacer.default">
													<div class="elementor-widget-container">
														<div class="elementor-spacer">
															<div class="elementor-spacer-inner"></div>
														</div>
													</div>
												</div>
												<div class="elementor-element elementor-element-1567fdef elementor-icon-list--layout-inline elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
													data-id="1567fdef" data-element_type="widget"
													data-widget_type="icon-list.default">
													<div class="elementor-widget-container">
														<ul class="elementor-icon-list-items elementor-inline-items">
															<li class="elementor-icon-list-item elementor-inline-item">
																<span class="elementor-icon-list-text" th:text="${dog != null ? dog.sexCd : ''}">Male</span>
															</li>
															<li class="elementor-icon-list-item elementor-inline-item">
																<span class="elementor-icon-list-text" th:text="${dog != null ? dog.age : ''}">4 Years</span>
															</li>
															<li class="elementor-icon-list-item elementor-inline-item">
																<span class="elementor-icon-list-text" th:text="${dog != null ? dog.orgNm : ''}">Oakland, CA</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										</th:block>
									</div>
								</section>
								<div class="elementor-element elementor-element-5aa53741 elementor-hidden-mobile elementor-widget elementor-widget-spacer"
									data-id="5aa53741" data-element_type="widget"
									data-widget_type="spacer.default">
									<div class="elementor-widget-container">
										<div class="elementor-spacer">
											<div class="elementor-spacer-inner"></div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</section>
			
				<!-- pagenate -->
				<ul class="pagenate">

					<!-- 11페이지부터 나옴 - 처음으로 -->
					<th:block th:if="${pagination.isShowFirst}">
						<li><a href="#" th:href="@{'/' + dog + '?' + requestPage + '=' + 1 + '&' + sido + '=' + ${sidoCode != null ? sidoCode : ''}}">&lt;&lt;</a></li>
					</th:block>
					<!-- 2페이지부터 나옴 - 이전으로 -->
					<th:block th:if="${pagination.isShowPrevious}">
						<li><a href="#" th:href="@{'/' + dog + '?' + requestPage +'=' + ${pagination.previousStartPage} + '&' + sido + '=' + ${sidoCode != null ? sidoCode : ''}}">&lt;</a></li>
					</th:block>
					
					<!-- 목록 숫자 -->
					<th:block th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}">
						<li class="page-item active" th:class="${i == pagination.params.requestPage} ? 'page-item active' : 'page-item'">
						<a class="page-link" href="#" th:href="@{'/'+ dog + '?' + requestPage + '=' + ${i} + '&' + sido + '=' + ${sidoCode != null ? sidoCode : ''}}" th:text="${i}">1</a></li>
					</th:block>

					<!-- 마지막 페이지에서 사라짐 - 다음으로 -->
					<th:block th:if="${pagination.isShowNext}">
						<li><a href="#" th:href="@{'/' + dog + '?' + requestPage + '=' + ${pagination.nextStartPage} + '&' + sido + '=' + ${sidoCode != null ? sidoCode : ''}}">&gt;</a></li>
					</th:block>
					<!-- 마지막 페이지가 포함된 리스트가 나오면 사라짐 - 마지막으로 -->
					<th:block th:if="${pagination.isShowLast}">
						<li><a href="#" th:href="@{'/' + dog + '?' + requestPage + '=' + ${pagination.totalPages} + '&' + sido + '=' + ${sidoCode != null ? sidoCode : ''}}">&gt;&gt;</a></li>
					</th:block>
				</ul>
				<!-- pagenate -->

				<br>
				<br>
				<br>

			</div>
		</main>
	</th:block>

</th:block>