.fa-facebook-f{
  left: -0% !important; 
  top: -0% !important;
}

.fa-twitter{
  left: -0% !important; 
  top: -0% !important;
}

.fa-instagram{
  left: -0% !important; 
  top: -0% !important;
}

.fa-tiktok{
  left: -0% !important; 
  top: -0% !important;
}