<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/layout/layoutV1 :: setContent(~{this :: title}, ~{this :: uniqhead}, ~{this :: content})}">

	<!--/* 타이틀 동적변경 */-->
	<title th:fragment="title">마이페이지</title>

	<!--/* 페이지별 특정 head내용 동적변경*/-->
	<th:block th:fragment="uniqhead">
		<!-- =============================================================== 개별css ========================================================================== -->
		<link rel="stylesheet" href="../assets/css/faq/title.css">
		<link rel="stylesheet" href="../assets/css/faq/faq.css">
		<link rel="stylesheet" href="../assets/css/member/detail.css">
		<link rel="stylesheet" href="../assets/css/member/mypage.css">
		<link rel="stylesheet" href="/assets/css/team/team.css">
		<link rel="stylesheet" href="/assets/css/howitwork/title.css">
		<link rel="stylesheet" href="/assets/css/footer/footer_common.css">
		<link rel="stylesheet" href="/assets/css/pagenation.css">
		<!-- ============================================================== 개별script =========================================================================-->
		<script defer src="/assets/js/member/reserpaging.js"></script>
		<script defer src="/assets/js/member/donapaging.js"></script>
	</th:block>

	<!--/* 페이지별 콘텐츠 동적변경 */-->
	<th:block th:fragment="content">
		<div data-elementor-type="wp-page" data-elementor-id="1711"
			class="elementor elementor-1711" data-elementor-post-type="page">
			<section
				class="elementor-section elementor-top-section elementor-element elementor-element-179d7879 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
				data-id="179d7879" data-element_type="section"
				data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
				<div class="elementor-background-overlay"></div>
				<div class="elementor-container elementor-column-gap-no">
					<div
						class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11817486"
						data-id="11817486" data-element_type="column">
						<div class="elementor-widget-wrap elementor-element-populated">
							<section
								class="elementor-section elementor-inner-section elementor-element elementor-element-5bad4e54 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
								data-id="5bad4e54" data-element_type="section"
								data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
								<div class="elementor-container elementor-column-gap-no">
									<div
										class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-475a3893"
										data-id="475a3893" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-38076426 elementor-widget elementor-widget-heading"
												data-id="38076426" data-element_type="widget"
												data-widget_type="heading.default">
												<div class="elementor-widget-container">
													<h1 class="elementor-heading-title elementor-size-default">My
														Page</h1>
												</div>
											</div>
											<div
												class="elementor-element elementor-element-261a1af9 elementor-widget elementor-widget-text-editor"
												data-id="261a1af9" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p>로그인한 사람의 정보가 나오는 페이지입니다.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->
								<div
									class="elementor-element elementor-element-48adf803 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
									data-id="48adf803" data-element_type="widget"
									data-widget_type="divider.default">
									<div class="elementor-widget-container">
										<div class="elementor-divider">
											<span class="elementor-divider-separator" id="first-line">
											</span>
										</div>
									</div>
								</div>
								<!-- // line-->




								<div class="elementor-container elementor-column-gap-default"
									id="id-background">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column" id="user-id">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default" id="id-box">
												<div class="elementor-widget-container" id="id-content">
													<h2 class="elementor-heading-title elementor-size-default"
														id="id-font">ID</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p id="id-input" th:if="${session.loginMember != null}"
														th:text="${session.loginMember.memberId}">dongdong1111</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->

								<!-- // line -->
								<div class="elementor-container elementor-column-gap-default"
									id="name-background">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column" id="user-name">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default" id="user-name-box">
												<div class="elementor-widget-container" id="name-content">
													<h2 class="elementor-heading-title elementor-size-default"
														id="name-font">이름</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p id="name-input" th:if="${session.loginMember != null}"
														th:text="${session.loginMember.name}">최동동</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->

								<!-- // line -->
								<div class="elementor-container elementor-column-gap-default"
									id="email-background">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column" id="user-email">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default" id="user-email-box">
												<div class="elementor-widget-container" id="email-content">
													<h2 class="elementor-heading-title elementor-size-default"
														id="email-font">이메일</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p id="email-input" th:if="${session.loginMember != null}"
														th:text="${session.loginMember.fullEmail}">dongdong1111@naver.com</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->

								<!-- // line-->
								<div class="elementor-container elementor-column-gap-default"
									id="phonenum-background">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column"
										id="user-phonenum">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default" id="user-phonenum-box">
												<div class="elementor-widget-container"
													id="phonenum-content">
													<h2 class="elementor-heading-title elementor-size-default"
														id="phonenum-font">Phone Number</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container" id="content-box">
													<p id="phonenum-input"
														th:text="${session.loginMember.phoneNum}">010-0000-0000</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->

								<!-- // line-->
								<div class="elementor-container elementor-column-gap-default"
									id="brith-background">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column" id="user-brith">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default" id="user-brith-box">
												<div class="elementor-widget-container" id="brith-content">
													<h2 class="elementor-heading-title elementor-size-default"
														id="brith-font">생년월일</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p id="brith-input"
														th:text="${session.loginMember.fullBirthday}">1999.01.01</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->

								<!-- // line-->
								<div class="elementor-container elementor-column-gap-default"
									id="address-background">
									<div
										class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-ba5363b"
										data-id="ba5363b" data-element_type="column" id="user-address">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-623b1f29 elementor-widget__width-auto elementor-widget elementor-widget-heading"
												data-id="623b1f29" data-element_type="widget"
												data-widget_type="heading.default" id="user-address-box">
												<div class="elementor-widget-container" id="address-content">
													<h2 class="elementor-heading-title elementor-size-default"
														id="address-font">주소</h2>
												</div>
											</div>
										</div>
									</div>
									<div
										class="elementor-column elementor-col-66 elementor-inner-column elementor-element elementor-element-75b46cfc"
										data-id="75b46cfc" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-1494d9a6 elementor-widget elementor-widget-text-editor"
												data-id="1494d9a6" data-element_type="widget"
												data-widget_type="text-editor.default">
												<div class="elementor-widget-container">
													<p id="address-input"
														th:text="${session.loginMember.fullAdress}">서울시 은평구
														떡잎마을 떡잎아파트 33동 303호</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- line -->
								<div
									class="elementor-element elementor-element-48adf803 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
									data-id="48adf803" data-element_type="widget"
									data-widget_type="divider.default" id="address-last-space">
									<div class="elementor-widget-container">
										<div class="elementor-divider" id="end-line-box">
											<span class="elementor-divider-separator" id="end-line">
											</span>
										</div>
									</div>
								</div>
								<!-- // line-->

								<!-- toggle 시작 -->
								<div class="elementor-container elementor-column-gap-no"
									id="toggle-background">
									<div
										class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1cf8ba77"
										data-id="1cf8ba77" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated">
											<div
												class="elementor-element elementor-element-16da86d2 elementor-widget elementor-widget-toggle"
												data-id="16da86d2" data-element_type="widget"
												data-widget_type="toggle.default">
												<div class="elementor-widget-container">
													<div class="elementor-toggle">
														<div class="elementor-toggle-item">
															<div id="elementor-tab-title-3831 donation-box"
																class="elementor-tab-title" data-tab="1" role="button"
																aria-controls="elementor-tab-content-3831"
																aria-expanded="false">
																<span
																	class="elementor-toggle-icon elementor-toggle-icon-right"
																	aria-hidden="true" id="down-toggle"> <span
																	class="elementor-toggle-icon-closed"><i
																		class="fas fa-chevron-down" id="down-icon"></i></span> <span
																	class="elementor-toggle-icon-opened"><i
																		class="elementor-toggle-icon-opened fas fa-chevron-up"></i></span>
																</span>
																<div>
																	<div class="elementor-toggle-title" tabindex="0"
																		id="donation-content">후원내역</div>
																</div>

															</div>

															<div id="elementor-tab-content-3831"
																class="elementor-tab-content elementor-clearfix"
																data-tab="1" role="region"
																aria-labelledby="elementor-tab-title-3831">

																<table class="tbl_cen tbl_confirm" id="donation-table">
																	<!-- <colgroup>
																							 <col class="m_hidden" />
																							 <col class="m_hidden" />
																							 <col />
																							 <col />
																							 <col class="m_hidden" />
																							 <col />
																						</colgroup> -->
																	<thead>
																		<tr id="table-subject">
																			<th scope="col" class="m_hidden">번호</th>
																			<th scope="col" class="m_hidden">결제일자</th>
																			<th scope="col" class="m">결제금액 (원)</th>
																		</tr>
																	</thead>
																	<tbody class="donation">
																	<!-- 
																		<tr th:each="donahistory, state : ${donaList}"
																			id="table-content">
																			<td class="m_hidden" th:text="${state.count}">009802949240</td>
																			<td class="m_hidden"
																				th:text="${donahistory.donationDate}">2023.09.04</td>
																			<td class="m" th:text="${donahistory.donation}">10000</td>
																		</tr>
																	-->
																		<!--
																		<tr id="table-content">
																			<td class="m_hidden">009802949240</td>
																			<td class="m_hidden">2023.09.04</td>
																			<td class="m">20000</td>
																		</tr>
																		-->
																	</tbody>
																</table>
																							<!-- paging -->
										<!-- pagenate -->
										<ul class="pagenate donahistory" style="margin-bottom: 5%;">



										</ul>
										<!-- pagenate -->
															</div>
														</div>


														<div class="elementor-toggle-item"
															id="volunteer-toggle-box">
															<div id="elementor-tab-title-3832"
																class="elementor-tab-title" data-tab="2" role="button"
																aria-controls="elementor-tab-content-3832"
																aria-expanded="false">
																<span
																	class="elementor-toggle-icon elementor-toggle-icon-right"
																	aria-hidden="true" id="down-toggle"> <span
																	class="elementor-toggle-icon-closed"><i
																		class="fas fa-chevron-down"></i></span> <span
																	class="elementor-toggle-icon-opened"><i
																		class="elementor-toggle-icon-opened fas fa-chevron-up"></i></span>
																</span>
																<div>
																	<div class="elementor-toggle-title" tabindex="0"
																		id="volunteer-content">봉사내역</div>
																</div>

															</div>

															<div id="elementor-tab-content-3832"
																class="elementor-tab-content elementor-clearfix"
																data-tab="2" role="region"
																aria-labelledby="elementor-tab-title-3832">
																<table class="tbl_cen tbl_confirm" id="volunteer-table">
																	<!-- <colgroup>
																							 <col class="m_hidden" />
																							 <col class="m_hidden" />
																							 <col />
																							 <col />
																							 <col class="m_hidden" />
																							 <col />
																						</colgroup> -->
																	<thead>
																		<tr id="table-subject">
																			<th scope="col" class="m_hidden">신청일자</th>
																			<th scope="col" class="m_hidden" th:text="보호소">프로그램</th>
																			<th scope="col" class="m_hidden">봉사날짜</th>
																			<th scope="col" class="m_hidden">시간</th>
																			<th scope="col" class="m">상태</th>
																		</tr>
																	</thead>
																	<tbody class="reservation">
																	<!-- 
																		<tr th:each="reservation : ${reserList}" id="table-content">
																			<td class="m_hidden" th:text="${reservation.insertDate}">2023.09.04</td>
																			<td class="m_hidden"> <a th:text="${reservation.shelterName}">외래식물제거 자원봉사(우이)</a> </td>
																			<td class="m_hidden" th:text="${reservation.regdate}">2023.10.04</td>
																			<td class="m_hidden" th:text="${reservation.regtime}">13:00~14:00</td>
																			<td class="m">
																				<ul class="btn_set" id="btn-set"
																					style="margin-top: 0; margin-bottom: 0;">
																					<div class="btn_default_s">
																						<a class="detail"
																							href="/volunteer/cancel-detail.html"
																							th:text="상세보기"
																							th:href="@{'/' + volunteer + '/' + detail + '/' + ${reservation.reservationNo}}">상세보기</a>
																					</div>
																				</ul>
																			</td>
																		</tr>
																	 -->

																		<!--
																		<tr id="table-content">
																			<td class="m_hidden">2023.09.04</td>
																			<td class="m_hidden"><a href="#" th:href="@{'/'+volunteer+'/'+detail}">외래식물제거
																					자원봉사(우이)</a></td>
																			<td class="m_hidden">2023.10.04</td>
																			<td class="m_hidden">13:00 ~14:00</td>
																			<td class="m">
																				<ul class="btn_set" id="btn-set">
																					<div class="btn_default_s ">
																						<a class="detail"
																							href="/volunteer/cancel-detail.html"
																							th:href="@{'/'+volunteer+'/'+detail}">상세보기</a>
																					</div>
																				</ul>
																			</td>
																		</tr>
																		-->
																	</tbody>
																</table>
																<!-- paging -->
										<!-- pagenate -->
										<ul class="pagenate reserhistory" style="margin-bottom: 5%;">

											
										</ul>
										<!-- pagenate -->
															</div>
														</div>
													</div>
												</div>
											</div>

											<div
												class="elementor-element elementor-element-51cddda0 elementor-widget elementor-widget-spacer"
												data-id="51cddda0" data-element_type="widget"
												data-widget_type="spacer.default">
												<div class="elementor-widget-container">
													<div class="elementor-spacer">
														<div class="elementor-spacer-inner"></div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</section>
		</div>
	</th:block>

</th:block>