@font-face {
  font-family: 'netmarbleB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'netmarbleB' !important;
}