<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{/layout/layoutV1 :: setContent(~{this :: title}, ~{this :: uniqhead}, ~{this :: content})}">

	<!--/* 타이틀 동적변경 */-->
	<title th:fragment="title">상세정보</title>

	<!--/* 페이지별 특정 head내용 동적변경*/-->
	<th:block th:fragment="uniqhead">
		<!-- =============================================================== 개별css ========================================================================== -->
		<link rel="stylesheet" href="/assets/css/volunteer/common_cal.css">
		<link rel="stylesheet" href="/assets/css/volunteer/sub.css">
		<link rel="stylesheet" href="/assets/css/volunteer/cancel_detail.css">
		<link rel="stylesheet" href="/assets/css/shelter/shelter-lite3153.css"
			media="all">
		<link rel="stylesheet" href="/assets/css/nontap.css">
		<link rel="stylesheet"
			href="/assets/css/volunteer/post1544_agreement.css" media="all">

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'
			rel='stylesheet' type='text/css'>
		<link rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css'>
		<link rel='stylesheet'
			href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css'>

		<!-- ============================================================== 개별script =========================================================================-->
		<script
			src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script
			src='https://templatekit.tokomoo.com/adopkit/wp-includes/js/jquery/jquery.min.js?ver=3.7.0'
			id='jquery-core-js'></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
			integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
			crossorigin="anonymous"></script>
		<script defer
			src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
		<script defer
			src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js'></script>
		<script defer src="/assets/js/shelter/slick.js"></script>
	</th:block>

	<!--/* 페이지별 콘텐츠 동적변경 */-->
	<th:block th:fragment="content">
		<main id="centerdetail" style="background-color: #FFFCF7;">
			<div data-elementor-type="wp-page" data-elementor-id="1686"
				class="elementor elementor-1686" data-elementor-post-type="page">
				<section
					class="elementor-section elementor-top-section elementor-element elementor-element-69bd6b53 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
					data-id="69bd6b53" data-element_type="section"
					data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
					<div class="elementor-background-overlay"></div>
					<div class="elementor-container elementor-column-gap-no">
						<div
							class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-63099e24"
							data-id="63099e24" data-element_type="column">
							<div class="elementor-widget-wrap elementor-element-populated">
								<section
									class="elementor-section elementor-inner-section elementor-element elementor-element-61adb26d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
									data-id="61adb26d" data-element_type="section"
									data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
									<div class="elementor-container elementor-column-gap-no">
										<div
											class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-640bdb8f"
											data-id="640bdb8f" data-element_type="column">
											<div
												class="elementor-widget-wrap elementor-element-populated"
												style="margin-top: 8%; margin-bottom: 8%;">
												<div
													class="elementor-element elementor-element-3fdf0404 elementor-widget elementor-widget-heading"
													data-id="3fdf0404" data-element_type="widget"
													data-widget_type="heading.default">
													<div class="elementor-widget-container">
														<h1 class="elementor-heading-title elementor-size-default">신청내역
															상세보기</h1>
													</div>
												</div>
											</div>
										</div>
								</section>
							</div>
						</div>
				</section>
			</div>
			<section class="explore-section section-padding" id="section_2">


				<div class="container">


					<div class="row">

						<div class="col-12">
							<div class="tab-content" id="myTabContent">
								<div class="centerintro">

									<!-- 서브 컨텐츠 -->
									<div id="sb_contents" class="contents">

										<table class="tbl_cen tbl_confirm_detaile">
											<caption>신청내역 상세보기</caption>
											<colgroup>
												<col />
												<col />
												<col />
												<col />
											</colgroup>
											<tbody>
												<tr>
													<th scope="row">신청인</th>
													<td colspan="3" class="txt_l" th:text="${reservation.memberName}">홍길동</td>
												</tr>
												<tr>
													<th scope="row">신청인원</th>
													<td colspan="3" class="txt_l"><span
														th:text="${reservation.people}">1</span>명</td>
												</tr>
												<tr>
													<th scope="row">신청번호</th>
													<td colspan="3" class="txt_l"
														th:text="${reservation.reservationNo}">009802949240</td>
												</tr>
												<tr>
													<th scope="row">신청일</th>
													<td colspan="3" class="txt_l"
														th:text="${reservation.insertDate}">2023.09.04 [월]
														22:20:19</td>
												</tr>
												<tr>
													<th scope="row">봉사장소</th>
													<td colspan="3" class="txt_l"
														th:text="${reservation.shelterName}">굿도그유기견센터</td>
												</tr>
												<tr>
													<th scope="row">봉사일</th>
													<td colspan="3" class="txt_l"
														th:text="${reservation.regdate}">2023.10.04 [수]</td>
												</tr>
												<tr>
													<th scope="row">봉사시간</th>
													<td colspan="6" class="txt_l">
														<div id="selectTime">
															<form method="POST" id="updateForm">
																<input type="hidden" name="rsrvt_id"
																	value="009802949240" /> <input type="hidden"
																	name="prg_code" value="00003666" /> <input
																	type="hidden" name="prgtpe_cd" value="9" /> <span
																	id="startTime" name="startTime"
																	th:text="${reservation.regtime}"> 시작시간 : 14:00 </span>
																<!-- <span id="endTime" name="endTime"> ~ 종료시간 : 18:00 </span>  -->
															</form>
														</div>
													</td>
												</tr>
												<tr>
													<th scope="row">승인상태</th>
													<td colspan="3" class="txt_l"
														th:text="${reservation.status == 'true' ? '승인' : (reservation.status == 'false' ? '거절' : '대기중')}">승인</td>
												</tr>
														<!--th:text="${reservation.status == 'true' ? '승인' : (reservation.status == 'false' ? '거절' : '대기중')}">승인</td> -->
												<tr>
													<th scope="row" th:if="${session.loginMember.lev == 1}"
														th:text="보호소문의">문의전화</th>
													<th scope="row" th:if="${session.loginMember.lev != 1}"
														th:text="회원문의">문의전화</th>
													<td colspan="3" class="txt_l"
														th:if="${session.loginMember.lev == 1}"
														th:text="${reservation.telNum}">029403736</td>
													<td colspan="3" class="txt_l"
														th:if="${session.loginMember.lev != 1}"
														th:text="${reservation.memberPhoneNum}">029403736</td>
												</tr>
											</tbody>
										</table>
										<!-- 봉사활동 사전안내 절차 -->
										<!-- 봉사 승인여부에 따라 visible속성 추가제거 -->
										<div th:if="${session.loginMember.lev == 1}" class="beforeInfo_box">
											<ul class="confirm_beinfo" id="confirm_beinfo">
												<li>
													<div style="margin-left: 20%;">
														<h4>
															<span class="tts_default tts_cyan">예약취소</span>
														</h4>
														<p>
															신청내역을 취소하시려면 <span class="tts_default tts_blue">예약취소</span>를
															누르세요.
														</p>
														<p>
															※ 복구가 <span class="tts_default tts_red">불가능</span>합니다.
														</p>
													</div>
												</li>
												<li>
													<div style="margin-left: 20%;">
														<h4>
															<span class='tts_default tts_cyan'>예약변경</span>
														</h4>
														<p>
															봉사활동 시간을 변경하시려면<span class='tts_default tts_green'>예약수정</span>을
															누르세요.
														</p>
													</div>
												</li>
											</ul>
										</div>
										<!-- //봉사활동 사전안내 절차 -->

										<!-- 봉사 승인여부에 따라 visible속성 추가제거 -->
										<th:block th:if="${session.loginMember.lev == 1}">
											<form action="/confirm/procCancelReservation.action"
												method="POST" id="cancelForm">
												<input type="hidden" name="rsrvt_id" value="009802949240" />
											</form>

											<ul class="btn_set" id="btn_set">
												<li class="btn_default float_l"><a
													href="/volunteer/application_list.html"
													th:if="${session.loginMember.lev == 1}"
													th:href="@{'/'+member+'/'+mypage}">목록</a></li>
												<th:block th:if="${reservation.status == 'await'}">
													<li class="btn_default btn_red float_r"><a
														href="/volunteer/volunteer.html" th:href="@{'/'+volunteer+'/cancel/'+${reservation.reservationNo}}"
														id="btnRegist">예약취소</a>
													</li>

													<li class='btn_default btn_green float_r'>
														<a href="/volunteer/calender" th:href="@{'/volunteer'+'/calender'+'?careNo='+${reservation.careNo}+'&reservationNo='+${reservation.reservationNo}}">예약수정</a>
													</li>
												</th:block>
											</ul>
										</th:block>

										<th:block th:if="${session.loginMember.lev != 1}">
											<form action="/confirm/procCancelReservation.action"
												method="POST" id="cancelForm">
												<input type="hidden" name="rsrvt_id" value="009802949240" />
											</form>
											<ul class="btn_set" id="btn_set">
												<li class="btn_default float_l"><a
													href="/volunteer/application_list.html"
													th:if="${session.loginMember.lev != 1}"
													th:href="@{'/'+member+'/'+mypage+'/'+adminpage}">목록</a></li>
												<th:block th:if="${reservation.status == 'await'}">
													<li class='btn_default btn_green float_r'><a
														href="/volunteer/calender" id="btnCancel"
														th:href="@{'/'+reservation+'/'+cancelReservations+'/'+${reservation.reservationNo}}">거절</a>
													</li>
													<li class="btn_default btn_red float_r"><a
														href="/volunteer/volunteer.html"
														th:href="@{'/'+reservation+'/'+agreeReservations+'/'+${reservation.reservationNo}}"
														id="btnAgree">승인</a></li>
												</th:block>
											</ul>
										</th:block>
									</div>
									<!-- //서브 컨텐츠 -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

	</th:block>

</th:block>