<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="tteogipbangbeomdae.goddog.domain.dog.mapper.DogMapper">

	<insert id="create" parameterType="Dog">
		INSERT INTO DOG (dog_no, care_no, notice_date, find_place, age, weight, str_notice, end_notice, gender, surgery, etc, adopt_state, dog_kind)
		VALUES (dog_no_seq.nextVal, 1, #{happenDt}, #{happenPlace}, #{age}, #{weight}, #{noticeSdt}, #{noticeEdt}, #{sexCd}, #{neuterYn}, #{specialMark}, #{processState}, #{kindCd})
	</insert>
	
</mapper>