<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="tteogipbangbeomdae.goddog.domain.reservation.mapper.ReservationMapper">

	<insert id="createReservation" parameterType="Reservation">
		INSERT INTO RESERVATION (reservation_no, member_id, care_no, regdate, regtime, people)
		VALUES (reservation_no_seq.NEXTVAL, #{memberId}, #{careNo}, #{regdate}, #{regtime}, #{people})
	</insert>
	
	<select id="getAllReservationById" resultType="Reservation">
		SELECT shelterName,
       		regdate, 
       		status,
       		regtime,
       		careNo,
       		people,
       		reservationNo,
       		memberId,
       		insertDate
		FROM (SELECT CEIL(rownum / #{pageParams.elementSize}) AS request_page,
             		shelterName,
             		regdate,
             		status,
             		regtime,
             		careNo,
             		people,
            		reservationNo,
            		memberId,
             		insertDate
             		FROM(SELECT n.name shelterName,
                                a.regdate regdate,
                                a.status status,
                                a.regtime regtime,
                                a.care_no careNo,
                                a.people people,
                                a.reservation_no reservationNo,
                                a.member_id memberId,
                                TO_CHAR(a.insert_date,'YYYY-MM-DD') AS insertDate
                           FROM reservation a
                                JOIN care n
                                ON a.care_no = n.care_no
                           ORDER BY reservationNo DESC) a
                           WHERE memberId = #{memberId}
                           ) a
		WHERE request_page = #{pageParams.requestPage}
	</select>
	
	<select id="getReservationByCareNo" resultType="Reservation">
		SELECT name shelterName,
       	       regdate, 
        	   status,
        	   regtime,
        	   care_no,
        	   people,
        	   reservation_no reservationNo,
        	   member_id memberId,
       		   insertDate
		FROM (SELECT CEIL(rownum / #{pageParams.elementSize}) AS request_page,
             	     name,
             	     regdate,
             		 status,
             		 regtime,
             		 care_no,
             		 people,
            	     reservation_no,
            	     member_id,
       				 insertDate
      		  FROM (SELECT n.name,
                   		   a.regdate,
                   	   	   a.status,
                   		   a.regtime,
                   	       a.care_no,
                   		   a.people,
                   		   a.reservation_no,
                           a.member_id,
       					   TO_CHAR(a.insert_date,'YYYY-MM-DD') insertDate
            	    FROM reservation a
            		     JOIN care n
            			 ON a.care_no = n.care_no
            		ORDER BY a.reservation_no DESC) a
               WHERE a.care_no = #{careNo}
            		) a
		WHERE request_page = #{pageParams.requestPage}
	</select>
	
	<select id="getCountAllByCareNo" parameterType="int" resultType="int">
		SELECT COUNT(reservation_no) cnt
		FROM   reservation
		WHERE  care_no = #{value}
	</select>
	
	<update id="updateAgreeReservation" parameterType="int">
		UPDATE reservation
		SET status = 'true'
		WHERE reservation_no = #{value}
	</update>
	
	<update id="updateCancelReservation" parameterType="int">
		UPDATE reservation
		SET status = 'false'
		WHERE reservation_no = #{value}
	</update>
	
	<select id="getReservationDetail" parameterType="int" resultType="Reservation">
		SELECT m.NAME memberName,
			   r.RESERVATION_NO reservationNo, 
			   TO_CHAR(r.insert_date,'YYYY-MM-DD') insertDate, 
			   r.REGDATE regdate, r.REGTIME regtime, c.TEL telNum, 
			   c.NAME shelterName, 
			   r.status status, 
			   r.people people, 
			   m.tel memberPhoneNum
		  FROM RESERVATION R 
		  JOIN MEMBER M ON r.member_id = m.member_id
		  JOIN CARE c ON r.care_no = c.care_no
		  WHERE r.RESERVATION_NO = #{value}
	 </select>
	 
	 <select id="getCountById" parameterType="String" resultType="int">
		SELECT COUNT(reservation_no) cnt
		FROM   reservation
		WHERE  member_id = #{value}
	</select>
	 
	<select id="getReservationCount" resultType="Integer">
		SELECT SUM(PEOPLE)
		FROM RESERVATION
		WHERE CARE_NO = ${careNo}
	</select>
	
	<select id="getReservation" resultType="Reservation" parameterType="Reservation">
		SELECT MEMBER_ID memberId, REGTIME regtime, CARE_NO careNo, REGDATE regdate, TO_CHAR(INSERT_DATE, 'YYYY-MM-DD') insertDate, PEOPLE people
		FROM RESERVATION
		WHERE REGDATE = #{regdate}
		AND CARE_NO = #{careNo}
		AND REGTIME = #{regtime}
		AND MEMBER_ID = #{memberId}
	</select>


</mapper>