<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500에러</title>
  <link rel="stylesheet" href="/assets/css/error.css">
  <!-- netmarblefont.css 추가 -->
  <link rel="stylesheet" href="/assets/css/font/netmarblefont.css">
</head>

<body>
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x1_5"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <div class='c'>
    <div class='_500'>500</div>
    <hr>
    <div class='_1'>SYSTEM ERROR</div>
    <div class='_2'>SERVER NOT RESPONSE</div>
    <div class='_3'>서버의 응답이 없습니다.관리자에게 문의해주세요</div>
    <a class='btn' href='/'>BACK TO MARS</a>
  </div>
</body>

</html>